h1{ 
    color:#FF653F; 
}

h2{color: #FFC85C
}

h3{
    color: antiquewhite;
}

footer{color:antiquewhite}

body{
    background-color:#1E104E;
}

p{
    color:antiquewhite
}

ul{ 
    color: antiquewhite
}